<div class="row mb-5">
    <div class="col">
        <a href="/{{searchChar}}/{{pageNum}}">< Go Back</a>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <table>
            <tr>
                <td><img src="{{book.image_url}}" alt="book cover" style="max-width: 250px;"></td>
            </tr>
            <tr>
                <td><span style="font-size: 12px;">Pages: {{book.pages}}</span></td>
            </tr>
            <tr>
                <td><span style="font-size: 12px;">Rating: {{book.rating}} ({{book.rating_count}})</span></td>
            </tr>
            <tr>
                <td><span style="font-size: 12px;">Genres: {{book.genres}}</span></td>
            </tr>
        </table>
    </div>
    <div class="col-9">
        <div class="row mb-3">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h3>{{book.title}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        By <i>{{book.authors}}</i>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        {{book.description}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex flex-row-reverse">
                    <a href="/{{searchChar}}/{{pageNum}}/{{book.book_id}}/reviews?title={{book.title}}&author={{book.authors}}">Find Review</a>
                </div>
            </div>
        </div>
    </div>
</div>